@model WebApplication4.ViewModels.GenreCreateViewModel

@{
    ViewData["Title"] = "Создать Жандр";
}

<h2>Создание жанра</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<div class="register-container">
    <form method="post" asp-action="Create">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>
