@model WebApplication4.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Редактирование пользователя";
}

<div id="notification" class="alert" style="display:none; font-size:15px;"></div>
<div class="register-container">
    <h2>Редактировать</h2>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <form method="post" asp-action="EditUser">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Username" class="control-label">Логин</label>
            <input asp-for="Username" class="form-control" required />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IsActive" class="control-label">Статус</label>
            <select asp-for="IsActive" class="form-control">
                <option value="true">Активен</option>
                <option value="false">Не активен</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $(function () {
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/notification")
            .build();

        hubConnection.on("displayMessage", function (message) {
            $('#notification')
                .html(message)
                .show()
                .addClass('alert-info')
                .delay(5000)
                .fadeOut();
        });

        hubConnection.start()
            .then()
            .catch(function (err) {
                console.error(err.toString());
            });
    });
</script>
