@model List<WebApplication4.Models.User>

@{
    ViewData["Title"] = "Admin - Users";
}


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Статус</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="text-white">@user.Id</td>
                <td class="text-white">@user.Username</td>
                <td class="text-white">@user.Email</td>
                <td>
                    @if (user.IsActive)
                    {
                        <span class="text-success">Активен</span>
                    }
                    else
                    {
                        <span class="text-danger">Не активен</span>
                    }
                </td>
                <td>
                    @if (!user.IsActive)
                    {
                        <a asp-action="ActivateUser" asp-controller="Admin" asp-route-id="@user.Id"
                           style="background-color: #ff8c00; color: black; padding: 10px 15px; text-decoration: none; border-radius: 5px; margin-right: 10px;">
                            Добавить
                        </a>
                    }
                    else
                    {
                        <button class="btn-secondary" disabled>Уже активен</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>