@model WebApplication4.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Register" asp-controller="Regist" class="btn btn-secondary">Перейти к регистрации</a>
<a asp-action="Login" asp-controller="Regist" class="btn btn-secondary">Вход</a>

@if (Model != null)
{
    @if (Model.IsActive)
    {
        <p class="text-success">Вы активированы!</p>
        <a asp-action="Upload" asp-controller="Music" class="btn btn-primary">Добавить музыку</a>

    }
    else
    {
        <p class="text-danger">Дождитесь, пока администратор вас добавит.</p>
    }

    <form asp-action="Logout" asp-controller="Regist" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Выход</button>
    </form>
}
else
{
    <p class="text-warning">Вы не вошли в систему.</p>
}
